$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
$padding: 16px;

$light-theme-bg: #f4f4f4;
$dark-theme-bg: #2e2e2e;
$light-theme-text: #111321;
$dark-theme-text: #f4f4f4;
$second-color: #a8a8a8;
$accent-color: #4440f6;
$theme-switcher-color: #5f6775;
$theme-accent-color: #4b48db;
$white-color-text: #fff;
