.filter-section {
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: 'Manrope', sans-serif;
    font-weight: 400px;
    font-size: 12px;
    line-height: 1.3;

    @media screen and (min-width: 768px) {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}
.filter-section__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}
.filter__list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 14px;
    }

    @media screen and (min-width: 1280px) {
        gap: 16px;
    }
}

.filter__btn-desktop {
    @media screen and (max-width:1279px) {
        display: none;

    }

}
