.container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    @include mobile {
        width: $mobile;
    }

    @include tablet {
        width: $tablet;
    }

    @include desktop {
        width: $desktop;
    }
}
.footer_container{
    background-color: #7A7A7A;
    height: 146px;
}